@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #2d3142;
  border-color: #2d3142;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pointer {
  cursor: pointer;
}

